
.whole{
    margin: 0% auto;
    text-align: center;
}

.ProjectName{
    padding-top: 190px;
    font-size: 140px;
    padding-bottom: 0;
    /* border: 3px gray solid; */
    color: goldenrod;
    text-shadow: 0 0 20px rgb(37, 71, 23);
    -webkit-text-stroke: 2px white;
}

.Start {
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    width:500px;
    height:250px;
    font-size: 60px;
    color: rgb(34, 59, 92);
    font-family: "Just Me Again Down Here", sans-serif;
    text-align: center;
    position: relative;
    animation-name:to_up;
    animation-duration:3s;
    bottom: 230px;
    outline: none; /* 外框效果 */
} 

.Start:hover{
    color: rgb(34, 59, 92, 0.5);
    width:500px;
    height:250px;
}

@keyframes to_up{
    from{
        opacity: 0;
        bottom: 0px;
    }
    to{ 
        opacity: 1;
        bottom: 230px;
    }
}